@charset "UTF-8";

.comment-item {
    width: 100%;
    min-height: 80px;
    background-color: #F6F6F6;
    border: 1px solid #1b6d85;
    padding: 5px;
    margin-top: 15px;
}

.comment-item .thumbnail {
    width: 80px;
    height: 80px;
}

.comment-item .title {
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.comment-item .content {
    width: 100%;
    height: auto;
}

.comment-item .title .name a {
    color: red;
}

.comment-item .content p {
    font-size: 15px;
    color: #000000;
}

.gz {
    border-radius: 20px;
    display: block;
    width: 70px;
}

#like-btn {
    margin-top: 15px;
}

.dash-h6 {
    text-align: right;
    border-bottom: 1px dashed #E8E7D0;
    padding-bottom: 10px
}

.comment-area {
    margin-top: 30px;
    margin-bottom: 30px;
}

#tips {
    font-weight: bold;
    display: none;
}

.click-close {
    width: 260px;
    height: 27px;
    line-height: 27px;
    border-radius: 3px;
    border: 1px dashed #2aabd2;
    margin-bottom: 5px;
    font-size: 14px;
    padding-left: 5px;
    display: none;
}

.click-close .text {
    color: #9a9afb;
}

#add-btn, #cancel-btn {
    display: none;
}