@charset "UTF-8";

#photo-thumbnail {
    width: 128px;
    height: 128px;
    cursor: default;
    margin-top: 20px;
}

#photo-thumbnail img {
    width: 100%;
    height: 100%;
}

.row {
    /*border-top: 1px dashed #CCCCCC;
    padding: 50px;*/
}

#tabs li {
    width: 33.3%;
    text-align: center;
}

.tab-pane ul {
    list-style: none;
    padding: 0;
}

.user-li {
    width: 80px;
    height: 100px;
    padding: 10px;
    display: block;
    float: left;
    margin: 2px;
}

.user-li .thumbnail {
    width: 60px;
    height: 60px;
    margin-bottom: 0;
}

.user-li .nickname-div {
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    color: #CCCCCC;
}

.dynamic-item {
    padding: 10px;
}

.dynamic-item .thumbnail {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.dynamic-item .thumbnail {
    width: 60px;
    height: 60px;
}

.dynamic-content a, .dynamic-content span {
    margin-right: 10px;
}

#tip {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.state-unread {
    color: red;
}