@charset "UTF-8";

body {
    background: #e1e1e1;
}

.list-item {
    width: 100%;
    min-height: 150px;
    padding: 20px;
    background: white;
    border: 1px solid #c0c0c0;
    margin: -1px;
    z-index: 1;
}

.list-item:hover {
    border: 1px solid #2aabd2;
    position: relative;
    z-index: 5;
}

.list-item .dateTitle {
    width: 100%;
    background: #2aabd2;
    color: white;
    text-align: center;
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
}

.list-item .title {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.list-item .content {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.list-item .content p {
    line-height: 200%;
}

.list-item .count {
    color: #CCCCCC;
    font-size: 13px;
}

.header {
    width: 100%;
    height: 360px;
}

.header .blog-title {
    width: 80%;
    height: 300px;
}

.header .blog-title h1 {
    position: relative;
    left: 120px;
    top: 90px;
}

.header .blog-title h1 a {
    color: white;
}

.header .blog-title h4 {
    position: relative;
    left: 80px;
    top: 140px;
    color: white;
}

#navigator {
    height: 60px;
    width: 100%;
    background: #2aabd2;
}

#navigator .navList {
    list-style: none;
    width: 800px;
    margin-left: 100px;
    height: 60px;
}

#navigator .navList li {
    float: left;
    display: inline-block;
    height: 60px;
    line-height: 60px;
}

#navigator .navList li a {
    display: block;
    width: 80px;
    height: 100%;
    text-align: center;
    color: white;
    font-size: larger;
}

#navigator .navList li a:hover {
    text-decoration: none;
    background: white;
    color: #2aabd2;
}