@charset "UTF-8";
.user-info-2 {
    width: 100%;
    border: 1px solid #2b542c;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

.user-info-2 img {
    width: 40%;
    margin: 10px auto;
    border-radius: 50%;
    display: block;
}

.user-info-2 label {
    display: block;
}

.title-label {
    font-size: 20px;
    margin: 10px;
}

#sex, #nickname {
    width: 300px;
}
